<style>
    body {
        width: 100vw;
        height: 100vh;
    }

    .principale {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px;
        background-color: rgb(6, 6, 6);
    }

    .containerleft {
        background-color: #4d62ea;
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2px;
        gap: 30px;
        position: fixed;
        left: 0;
        top: 0;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .containerrigth {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        margin-left: 15%;
        overflow-y: auto;
        color: white;
        font-family: Arial, Helvetica, sans-serif;

    }

    .containerleftone {
        width: 89.5%;
        height: 95%;
        background-color: rgb(71, 69, 69);
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 12px;
        gap: 5%;
    }

    ul {

        display: flex;
        flex-direction: row;
        width: 90%;
        align-items: center;
        flex-wrap: wrap;
    }

    li {
        width: 30%;
        height: 70px;
        background-color: rgb(66, 108, 179);
        color: white;
        text-align: left;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        margin: 12px;
        padding: 5px;
        list-style: none;
        border-radius: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    span {
        text-align: center;
        font-size: 12px;
        color: black
    }

    button {
        width: 90%;
        height: 60px;
        border-radius: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3rem;
        color: white;
        border: none;
        background-color: rgb(66, 108, 179);
    }
</style>
<div class="principale">
    <div class="containerleft">
        <div class="containerleftone">
            <button type="button" onclick="getHome()">Home</button>
            <button type="button" onclick="getNewPassword()">New password</button>
            <button type="button" onclick="getLogin()">Login</button>
            <button type="button" onclick="getSignup()">Signup</button>
            <button type="button" onclick="getLogout()">Logout</button>
        </div>
    </div>
    <div class="containerrigth">
        <ul id="items-list">
            {{#each items}}
            <li id="li" data-id="{{this.id}}"><span>lien: </span>{{this.name}} <span>category: </span>{{this.categorie}}
                <br> <span>mot de passe: </span> {{this.id}}</li>
            {{/each}}
        </ul>
    </div>
</div>

<script>
    window.onload = () => {
        // Récupérer la liste des éléments depuis le HTML
        const itemsList = document.querySelectorAll('#items-list li');
        if (itemsList.length === 0) {
            console.log("Aucun élément trouvé !");
        } else {
            console.log(itemsList)
            console.log(`${itemsList.length} éléments trouvés`);
        }
        // Créer une nouvelle liste dynamique
        const dynamicList = document.getElementsByName("ul");
        document.body.appendChild(dynamicList);  // Ajouter la nouvelle liste à la page

        // Parcourir les éléments récupérés pour les afficher dans la nouvelle liste
        itemsList.forEach(item => {
            const li = document.createElement('li');
            li.textContent = "";
            li.textContent = item.textContent;  // Récupérer le texte de chaque item
            dynamicList.appendChild(li);
        });
    };
    function getHome() {
        window.location.href = "/home"
    }
    function getLogin() {
        window.location.href = '/login';
    }
    function getSignup() {
        window.location.href = '/signup';
    }
    function getNewPassword() {
        window.location.href = '/newpassword';
    };
    function getLogout() {
        window.location.href = '/logout';
    }
</script>