<style>
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #principale {
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 50vh;
        padding: 10px;
        border: none;
        border-radius: 35px;
    }

    .input-container {
        position: relative;
        margin: 20px;
    }

    .input-container input {
        padding-left: 40px;
    }

    .input-container img {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 8px;
        top: 39px;

    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
</style>
<video autoplay loop muted>
    <source src="/font/6917189_Motion Graphics_Motion Graphic_3840x2160.mp4" type="video/mp4">votre navigateur ne
    prends pas en charge le type de video
</video>
<div id="principale" class="shadow">
    <form action="/login" method="post">
        <div class="d-flex flex-column align-items-center justify-content-center ">
            <div class="input-container mb-3 d-flex flex-column align-items-center">
                <label for="email" class="form-label">Adresse email</label>
                <img src="/font/téléchargement.jpg" alt="">
                <input type="email" id="email" name="email" class="form-control rounded-4 email"
                    aria-describedby="emailHelp" placeholder="Votre email" required>
            </div>
            <div class="input-container mb-3 d-flex flex-column align-items-center">
                <label for="password" class="form-label">Password</label>
                <img src="/font/téléchargement (1).jpg" alt="">
                <input type="password" id="password" name="password" class="form-control rounded-4 password"
                    placeholder="Votre mot de passe" required>
            </div>
        </div>
        <div class="container-fluid d-flex justify-content-center align-content-center gap-2">
            <button type="reset" class="btn bg-white px-3 py-2 rounded-4 shadow">Tout effacer</button>
            <button type="submit" class="btn btn-primary px-4 py-2 rounded-4 shadow">Envoyer</button>
        </div>
    </form>
</div>