<style>
    body {
        width: 100vw;
        height: 100vh;
    }

    .principale {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px;
        background-color: rgb(6, 6, 6);
    }

    .containerleft {
        background-color: #4d62ea;
        width: 25%;
        height: 100%;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2px;
        gap: 30px;
    }

    .containerrigth {
        width: 75%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin-right: 0px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    #centrale {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 89.5%;
        height: 65%;
        background-color: rgb(71, 69, 69);
        border-radius: 25px;
        text-align: center;
        color: white;
    }

    li {
        list-style: none;
        background: blue;
        width: 75%;
        height: 8%;
        border-radius: 10px;
        margin-top: 10px;
    }

    form {
        background-color: black;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    input {
        width: 70%;
        height: 8%;
        border-radius: 30px;
        border: none;
        margin-bottom: 5px;
    }

    button {
        width: 70%;
        background-color: blue;
        border: none;
        border-radius: 15px;
        height: 8%;
        margin-top: 9px;
        color: white;
        font-size: 1rem;
        text-align: center;
    }

    #bouton {
        height: 25%;
        width: 89.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(91, 100, 126);
        border-radius: 25px;
        text-align: center;
        color: white;
        gap:5%;
        padding: 15%;
    }

    
</style>

<div class="principale">
    <div class="containerleft">
        <div id="centrale">
            {{#each items}}
            <li data-id="{{this.id}}">{{this.name}}</li>
            {{/each}}
        </div>
        <div id="bouton">
            <button class="btn" type="button" onclick="getHome()">Home</button>
            <button class="btn" type="button" onclick="getPasswordItem()">Passwords item</button>
            <button class="btn" type="button" onclick="getLogin()">Login</button>
            <button class="btn" type="button" onclick="getSignup()">Signup</button>
        </div>
    </div>
    <div class="containerrigth">
        <form action="/newpass" class="shadow" method="post">
            <label for="email">Adresse email</label>
            <input type="email" id="email" name="email" class="input" placeholder="Votre email" required>
            <label for="link">website link</label>
            <input type="text" id="link" name="link" class=" input" placeholder="le lien vers votre..." required>
            <label for="category">category</label>
            <input type="text" id="category" name="category" class="input" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="input" placeholder="Votre mot de passe"
                required>
            <button type="submit" class="btnn shadow">Save Password</button>
        </form>
    </div>
</div>
<script>
    window.onload = () => {
        // Récupérer la liste des éléments depuis le HTML
        const itemsList = document.querySelectorAll('#items-list li');
        if (itemsList.length === 0) {
            console.log("Aucun élément trouvé !");
        } else {
            console.log(itemsList)
            console.log(`${itemsList.length} éléments trouvés`);
        }
        // Créer une nouvelle liste dynamique
        const dynamicList = document.createElement('ul');
        document.body.appendChild(dynamicList);  // Ajouter la nouvelle liste à la page

        // Parcourir les éléments récupérés pour les afficher dans la nouvelle liste
        itemsList.forEach(item => {
            const li = document.createElement('li');
            li.textContent = "";
            li.textContent = item.textContent;  // Récupérer le texte de chaque item
            dynamicList.appendChild(li);
        });
    };

    function getHome() {
        window.location.href = "/home"
    }
    function getLogin() {
        window.location.href = '/login';
    }
    function getSignup() {
        window.location.href = '/signup';
    }
    function getPasswordItem() {
        window.location.href = '/listedallpassword';
    }

</script>